<div class="uk-section uk-section-muted uk-margin-medium-bottom uk-padding-small">
  <ul uk-tab>
    <li class="uk-active"><a>Liên hệ</a></li>
  </ul>
  <ul class="uk-list uk-text-meta">
    <li uk-grid class="uk-grid-collapse">
      <div class="uk-width-auto">
        <span uk-icon="icon: receiver" class="uk-margin-small-right"></span>
      </div>
      <div class="uk-width-expand">0909.090.909</div>
    </li>
    <li uk-grid class="uk-grid-collapse">
      <div class="uk-width-auto">
        <span uk-icon="icon: mail" class="uk-margin-small-right"></span>
      </div>
      <div class="uk-width-expand">tqhuy@gmail.com</div>
    </li>
<!--    <li uk-grid class="uk-grid-collapse">-->
<!--      <div class="uk-width-auto">-->
<!--        <span uk-icon="icon: location" class="uk-margin-small-right"></span>-->
<!--      </div>-->
<!--      <div class="uk-width-expand">123 Trần Hưng Đạo, P. An Nghiệp, Q. Ninh Kiều, TPCT</div>-->
<!--    </li>-->
    <li uk-grid class="uk-grid-collapse">
      <div class="uk-width-auto">
        <span uk-icon="icon: link" class="uk-margin-small-right"></span>
      </div>
      <div class="uk-width-expand">https://tranquochuy.com</div>
    </li>
  </ul>
</div>
