<div class="uk-grid-large uk-child-width-expand@s uk-padding-large uk-background-muted" uk-grid>
  <div>
    <h3 class="uk-heading-divider">Menu</h3>
    <ul class="uk-nav uk-nav-default tm-nav">
      <li><a routerLink="/">Trang chủ</a></li>
      <li><a routerLink="/">Về tôi</a></li>
      <li><a routerLink="/">Sản phẩm đất nền</a></li>
      <li><a routerLink="/">Sản phẩm nhà ở</a></li>
      <li><a routerLink="/">Sản phẩm đã bán</a></li>
    </ul>
  </div>
  <div>
    <h3 class="uk-heading-divider">Về tôi</h3>
    <p class="uk-text-meta">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id vehicula mauris. Nullam interdum consequat felis ac hendrerit. Maecenas vulputate lorem vitae facilisis volutpat. Vivamus mi erat, mollis gravida libero nec, ultricies consectetur nisl. Mauris suscipit nulla velit, ut tristique neque volutpat a. Etiam varius malesuada molestie. Cras quis finibus augue.
    </p>
  </div>
  <div>
    <h3 class="uk-heading-divider">Liên hệ</h3>
    <ul class="uk-list uk-text-meta">
      <li uk-grid class="uk-grid-collapse">
        <div class="uk-width-auto">
          <span uk-icon="icon: receiver" class="uk-margin-small-right"></span>
        </div>
        <div class="uk-width-expand">0909.090.909</div>
      </li>
      <li uk-grid class="uk-grid-collapse">
        <div class="uk-width-auto">
          <span uk-icon="icon: mail" class="uk-margin-small-right"></span>
        </div>
        <div class="uk-width-expand">tqhuy@gmail.com</div>
      </li>
      <li uk-grid class="uk-grid-collapse">
        <div class="uk-width-auto">
          <span uk-icon="icon: location" class="uk-margin-small-right"></span>
        </div>
        <div class="uk-width-expand">123 Trần Hưng Đạo, P. An Nghiệp, Q. Ninh Kiều, TPCT</div>
      </li>
      <li uk-grid class="uk-grid-collapse">
        <div class="uk-width-auto">
          <span uk-icon="icon: link" class="uk-margin-small-right"></span>
        </div>
        <div class="uk-width-expand">https://tranquochuy.com</div>
      </li>
    </ul>
  </div>
</div>
