<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">

  <ul class="uk-slider-items uk-grid">
    <li *ngFor="let imgLink of listImageLink; index as i" class="uk-width-3-4">
      <div class="uk-panel">
        <img [src]="imgLink" alt="">
        <div class="uk-position-center uk-panel"><h1>{{i + 1}}</h1></div>
      </div>
    </li>
  </ul>

  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

</div>
